//$    -> global
//$-   -> local

$-brand-color: hsl(
  var(--color-brand-h, 20),
  calc(var(--color-brand-s, 97) * 1%),
  calc(var(--color-brand-l, 60) * 1%)
);

.paywall {
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  border-bottom: 4px solid;
  border-color: $-brand-color;
  margin: 20px 0px;
  padding: 30px;

  $-paywall: &;

  &--bold-text {
    font-weight: bold;
  }
  &__title-border {
    width: 100%;
    margin-bottom: 10px;
  }
  &__title {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__thematic-break {
    display: block;
    background-color: rgba(209, 213, 219, 1);
    width: 100%;
    border-style: none;
    border-width: 1px;
    height: 1px;
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border: 1px solid;
    border-color: #b6afaf;
    padding: 5px 20px;
    background-color: rgba(243, 244, 246, 1);
    cursor: pointer;

    &--monthly {
      border-radius: 0.2em 0px 0px 0.2em;
      &:checked ~ #{$-paywall}__subscription-content--monthly {
        display: flex;
      }
    }

    &--yearly {
      border-radius: 0px 0.2em 0.2em 0px;
      &:checked ~ #{$-paywall}__subscription-content--yearly {
        display: flex;
      }
    }
  }
  &__subscription-content {
    &--monthly,
    &--yearly {
      display: none;
    }
  }

  // &__toggle--monthly:checked ~ &__subscription-content--monthly,
  // &__toggle--yearly:checked ~ &__subscription-content--yearly {
  //   display: flex;
  // }

  &__yearly-discount {
    color: black;
    font-weight: normal;
    font-size: 90%;
  }
  &__subscription-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__price {
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__link-styling {
    color: rgb(55, 65, 81);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__buy-btn {
    font-weight: 700;
    color: #feddcd;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: $-brand-color;
    border-width: 0;
    border-radius: 100px;
    text-decoration-line: underline;
    cursor: pointer;
  }
  &__disclaimer {
    margin-top: 10px;
    color: rgb(156, 163, 175);
  }
  &__disclaimer-content {
    margin: 15px 0px;
  }
}

// // toggles content between monthly and yearly subscription
// .paywall__subscription-content--monthly,
// .paywall__subscription-content--yearly {
//   display: none;
// }

// .paywall__toggle--monthly:checked ~ .paywall__subscription-content--monthly,
// .paywall__toggle--yearly:checked ~ .paywall__subscription-content--yearly {
//   display: flex;
// }
// --------------------------------------------------------

#subscription-monthly,
#subscription-yearly {
  display: none;
}

#subscription-monthly:checked + label,
#subscription-yearly:checked + label {
  background-color: white;
  font-weight: bold;
  color: $-brand-color;
  border-color: $-brand-color;
}
