.paywall {
  background-color: rgb(243, 244, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  border-bottom: 4px solid;
  border-color: hsl(var(--color-brand-h, 20), calc(var(--color-brand-s, 97) * 1%), calc(var(--color-brand-l, 60) * 1%));
  margin: 20px 0px;
  padding: 30px;
}
.paywall--bold-text {
  font-weight: bold;
}
.paywall__title-border {
  width: 100%;
  margin-bottom: 10px;
}
.paywall__title {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paywall__thematic-break {
  display: block;
  background-color: rgb(209, 213, 219);
  width: 100%;
  border-style: none;
  border-width: 1px;
  height: 1px;
  margin-bottom: 20px;
}
.paywall__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.paywall__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border: 1px solid;
  border-color: #b6afaf;
  padding: 5px 20px;
  background-color: rgb(243, 244, 246);
  cursor: pointer;
}
.paywall__toggle--monthly {
  border-radius: 0.2em 0px 0px 0.2em;
}
.paywall__toggle--monthly:checked ~ .paywall__subscription-content--monthly {
  display: flex;
}
.paywall__toggle--yearly {
  border-radius: 0px 0.2em 0.2em 0px;
}
.paywall__toggle--yearly:checked ~ .paywall__subscription-content--yearly {
  display: flex;
}
.paywall__subscription-content--monthly, .paywall__subscription-content--yearly {
  display: none;
}
.paywall__yearly-discount {
  color: black;
  font-weight: normal;
  font-size: 90%;
}
.paywall__subscription-content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paywall__price {
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 10px;
}
.paywall__link-styling {
  color: rgb(55, 65, 81);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}
.paywall__buy-btn {
  font-weight: 700;
  color: #feddcd;
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: hsl(var(--color-brand-h, 20), calc(var(--color-brand-s, 97) * 1%), calc(var(--color-brand-l, 60) * 1%));
  border-width: 0;
  border-radius: 100px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}
.paywall__disclaimer {
  margin-top: 10px;
  color: rgb(156, 163, 175);
}
.paywall__disclaimer-content {
  margin: 15px 0px;
}

#subscription-monthly,
#subscription-yearly {
  display: none;
}

#subscription-monthly:checked + label,
#subscription-yearly:checked + label {
  background-color: white;
  font-weight: bold;
  color: hsl(var(--color-brand-h, 20), calc(var(--color-brand-s, 97) * 1%), calc(var(--color-brand-l, 60) * 1%));
  border-color: hsl(var(--color-brand-h, 20), calc(var(--color-brand-s, 97) * 1%), calc(var(--color-brand-l, 60) * 1%));
}/*# sourceMappingURL=styles.css.map */