body,html{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.content1,
.content2 {
  display: none;
}

.toggle1:checked ~ .grid-container .content1,
.toggle2:checked ~ .grid-container .content2 {
  display: block;
}